/* ===== BASE ===== */

body{
  margin:0;
  font-family:Arial, sans-serif;
  text-align:center;
  position:relative;
}

/* Fond islam */
body::before{
  content:"";
  position:fixed;
  inset:0;
  background:url("../images/islam-bg.jpg") no-repeat center/cover;
  opacity:0.15;
  z-index:-1;
}

.nav-title{
  font-size:20px;
  font-weight:bold;
  min-width:140px;
  text-align:center;
}
/* ===== NAVIGATION ===== */

.nav-top{
  display:flex;
  justify-content:space-between;
  padding:15px 20px;
}

.back-btn,.home-btn{
  background:#000;
  color:white;
  padding:8px 16px;
  border-radius:10px;
  text-decoration:none;
  font-weight:bold;
}

.nav-ex{
  display:flex;
  justify-content:center;
  gap:18px;
  margin:25px auto;
}

.nav-arrow{
  background:#000;
  color:white;
  padding:10px 18px;
  border-radius:10px;
  font-size:26px;
  text-decoration:none;
  font-weight:bold;
  transition:0.2s;
}

/* ===== BANDES ===== */

.band{
  background:#000;
  color:white;
  width:100%;
  max-width:660px;   /* Desktop */
  min-width:280px;   /* Mobile mini */
  margin:20px auto;
  padding:14px;
  border-radius:15px;
  display:grid;
  grid-template-columns:1fr 50px;
  box-sizing:border-box;
  overflow:hidden; /* empêche le débordement */
}
/* Bandeau */

.play{
  background:transparent;
  border:2px solid white;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

/* ===== LETTRES ===== */

.letters{
  display:flex;
  justify-content:center;
  gap: 4px;
  align-items: center;
  max-width:100%;
  overflow:hidden;
  flex-wrap:nowrap;
  direction:rtl;
  overflow-x:visible; 
  overflow-y:visible;
  white-space:nowrap;
}


.letter{
  font-family:"Amiri", serif;
  font-size:36px;          /* tu peux ajuster */
  width:40px;
  height:59px;

  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  line-height:1;           /* IMPORTANT */
  vertical-align:middle;
 overflow: visible;
 flex-shrink:0 ;

}


.haraka{
  position:absolute;
  font-size:30px;
  top:10px;        /* ajuste si besoin */
  line-height:1;
}

.letter.active{
  background:#ffeaa7;
  color:black;
  font-weight:bold;
}
/* ===== GROUPES (CADRES 3x3) ===== */
/* Tableau */
.table-line{
  display:flex;
  gap:10px;        /* avant: 15px */
  direction:rtl;
  justify-content:center;
}

/* Groupes (3 par 3) */
.group{
  background:rgba(255,255,255,0.08);
  padding:6px 8px;
  border:1px solid rgba(255,255,255,0.3);
  display:flex;
  gap:6px;
  border-radius:10px;
  align-items:center;

}


/* ===== MOBILE ===== */

@media (max-width:450px){

  .letter{
    font-size:27px;
    width:24px;
    height:36px;
    gap:2px;
  }

  .play{
    font-size:12px;
  }

  .band{
    max-width:95%;
    padding:10px;
    grid-template-columns:1fr 40px;
  }
 .group{
    gap:4px;
    padding:4px 6px;
  }
}